<a href="/profile"><button>Back</button></a>

<span></span>
<span></span>
<span></span>
<div class="p-3 py-5">
                <div class="col-md-12 text-center">
                        <label class="labels"> Update Password </label>
                </div>
                <div class="col-md-12 text-center">
                        <input type="password" placeholder="enter old password" value="">
                </div>
                <div class="col-md-12 text-center">
                        <label class="labels"> </label>
                        <input type="password" placeholder="enter new password" value="">
                </div>
                <div class="col-md-12 text-center">
                        <label class="labels"> </label>
                        <input type="password" placeholder="verify new password" value="">
                </div>
</div>

<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">
                Update Password </button></div>