
<a href="/profile"><button>Back</button></a>

<span></span>
<span></span>
<span></span>
<div class="p-3 py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
    </div>
    <div class="col-md-12"><label class="labels"> Password </label><input type="password" class="form-control"
            placeholder="enter old password" value=""></div>
    <div class="col-md-12"><label class="labels"> </label><input type="password" class="form-control"
            placeholder="enter new password" value=""></div>
    <div class="col-md-12"><label class="labels"> </label><input type="password" class="form-control"
            placeholder="verify new password" value=""></div>
</div>

<div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button"> Update Password </button></div>
