<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
          width="150px">
        <span class="font-weight-bold"> {{currentUser.username}} </span>
        <span class="text-black-50"> {{currentUser.email}} </span>
        <br>
        <br>
        <span> <a href='/profile/update'> Update Password </a> </span>
       <!--  <span> <a href='/profile/update'> Update User Information </a> </span> -->
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div>
          Thank you for being a member for <strong> insert number of years here </strong>
        </div>

    </div>
  </div>
</div>